@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');
:root {
    ---primary: #0d6efd;
    ---dark : #21252f;
    ---body : #888;
    ---boxshadow: 0 8px 22px rgba(0,0,0,0.1)
}



body {
    line-height: 1.7;
    color: var(---body);
    font-weight: 700;
    font-family: 'Poppins' , sans-serif;
}

.logo {
    font-size: 30px;
}

h1,h2,h3,h4,h5,h6,
.display-4
{
    font-weight: 700;
}

a {
    color: var(---dark);
    text-decoration: none;
}

.main {
    background-color: var(---body);
}


.navbar .navlink {
    font-size: 14px;
    font-weight: 700;
}

.btn {
    padding: 12px 14px; 
}


#services {
    padding-top: 100px ;
    padding-bottom: 50px;
}


.card-effect {
    box-shadow: var(---boxshadow);
    padding: 25px;
    height: 230px;
    transition: all 0.35s ease;
    color: var(---dark);
}


.card-effect:hover {
    box-shadow: none;
    transform: translateY(5px);
    cursor: pointer;
}


.iconbox {
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content:center;
    background-color: var(---primary);
    color: #fff;
    font-size: 32px;
    border-radius: 100px;
}


.service {
    position: relative;
    z-index: 2;
    overflow: hidden;
}

.service::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: -100%;
    left: 0;
    background-color: var(---primary);
    z-index: -1;
    opacity: 0;
    transition: all 0.4s ease;
}

.service h5,p {
    color: var(---dark);
}

.service:hover .iconbox {
    background-color: #fff;
    color: var(---primary);
}

.service:hover h5, 
.service:hover p {
    color: #fff;
}
.service:hover::after {
    opacity: 1;
    top: 0;
}

#prices h1 {
    padding-top: 100px ;
    padding-bottom: 40px;
}


#team {
    padding-top: 100px;
    padding-bottom: 50px;
}

#contact {
    padding-top: 100px;
    padding-bottom: 50px;
}


.footer-top {
    padding-top: 90px ;
    padding-bottom: 30px;
    background-color: var(---dark);
}

.footer-top a{
    color: var(---body);
}


.footer-top a:hover{
    color: #fff;
}

